/**
 * Testi - Dimensioni (https://type-scale.com/)
 ***************************************************/
 $text-base: 18px;
 $text-scale: 1.250;
 
 /**
  * Colori
  ***************************************************/
 $color-flax:            #E9D985;
 $color-ruby:            #DB2763;
 $color-emerald:         #439A86;
 $color-teal:            #007991;
 $color-oxford:          #12192B;
 $color-ocean:           #212E4F;
 $color-white:           #FFFFFF;
 $color-black:           #000000;
