@import 'typography';
@import 'variables';

html, body {
    height: 100%;
    margin: 1em 4em 1em 4em;
    font-family: Montserrat, sans-serif;
    color: var(--text-color-white);
    background-color: var(--body-backgroud-color);
}
