h1 {
    color: var(--color-teal)
}

h3 {
    color: var(--color-flax)
}

.card {
    padding: 2em;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}
.ruby {
    background-color: var(--color-ruby);
}
.teal {
    background-color: var(--color-teal);
}
.flax {
    background-color: var(--color-flax);
}
.emerald {
    background-color: var(--color-emerald);
}
.oxford {
    background-color: var(--color-oxford);
}