<h1>Typography</h1>
<hr>
<h3>Text sizes</h3>
<span style="font-size: var(--text-size-micro)">Micro</span><br>
<span style="font-size: var(--text-size-tiny)">Tiny</span><br>
<span style="font-size: var(--text-size-small)">Small</span><br>
<span>Regular</span><br>
<span style="font-size: var(--text-size-increased)">Increased</span><br>
<span style="font-size: var(--text-size-large)">Large</span><br>
<span style="font-size: var(--text-size-huge)">Huge</span><br>
<span style="font-size: var(--text-size-giant)">Giant</span><br>
<span style="font-size: var(--text-size-jumbo)">Jumbo</span><br>
<br>

<h3>Text styles</h3>
<span style="font-style: italic">Italic</span>
<span style="font-weight: 700">Semi-bold</span>
<span style="font-weight: 900">Bold af</span>
<hr>

<h1>Colors</h1>
<hr>
<div class="card oxford">Oxford</div>
<div class="card teal">Teal</div>
<div class="card emerald">Emerald</div>
<div class="card ruby">Ruby</div>
<div class="card flax">Flax</div>


